<p>
  <b>Name:</b>
  <%=h @vendor.name %>
</p>

<p>
  <b>Address1:</b>
  <%=h @vendor.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%=h @vendor.address2 %>
</p>

<p>
  <b>City:</b>
  <%=h @vendor.city %>
</p>

<p>
  <b>State:</b>
  <%=h @vendor.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @vendor.zip %>
</p>

<p>
  <b>Country:</b>
  <%=h @vendor.country %>
</p>

<p>
  <b>Phone:</b>
  <%=h @vendor.phone %>
</p>

<p>
  <b>Fax:</b>
  <%=h @vendor.fax %>
</p>

<p>
  <b>Mobile:</b>
  <%=h @vendor.mobile %>
</p>

<p>
  <b>User:</b>
  <%=h @vendor.user %>
</p>


<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
